<h1>Quote of the Day</h1>
<p><strong>Quote: </strong><%= @quote.text %></p>
<p><strong>Author: </strong><%= @quote.author %></p>
<%= button_to "Favorite me!", favorite_quotes_path(favorite_quote: {quote_id: @quote, user_id: 1} ) %>
